
allow vendor_init self:capability sys_module;
allow vendor_init self:capability2 block_suspend;

allow vendor_init kernel:system module_request;

allow vendor_init vendor_file:system module_load;

allow vendor_init system_data_file:dir { add_name create setattr write };

allow vendor_init tmpfs:dir { add_name write };

allow vendor_init file_contexts_file:file map;
