#  KEEP ALPHABETICALLY SORTED
# CONFIG_USB_EHCI_HCD is not set
# CONFIG_USB_OHCI_HCD is not set
CONFIG_ANDROID_BOOT_IMAGE=y
CONFIG_CMD_BCB=y
CONFIG_CMD_ADTIMG=y
CONFIG_UDP_FUNCTION_FASTBOOT=y
CONFIG_CMD_FASTBOOT=y
CONFIG_FASTBOOT_CMD_OEM_FORMAT=y
CONFIG_CMD_PART=y
CONFIG_LZ4=y
CONFIG_RANDOM_UUID=y
CONFIG_TFTP_BLOCKSIZE=1468
