# Overlay on top of @Megous integration branch

# Enable USB gadget in recovery
CONFIG_USB_MUSB_HDRC=y
CONFIG_NOP_USB_XCEIV=y
CONFIG_USB_MUSB_SUNXI=y
CONFIG_MUSB_PIO_ONLY=y
CONFIG_TYPEC_ANX7688=y
CONFIG_USB_CONFIGFS=y

# Due to some kernel issues this option reduces eMMC write speed from 60 to 20MiB/s and causing DE2.0 to glitch sometimes.
# CONFIG_ARM_SUN8I_MBUS_DEVFREQ is not set

# Software FileBasedEncryption
CONFIG_CRYPTO_ADIANTUM=y
