CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_LL=y
CONFIG_DEBUG_SUNXI_UART0=y
CONFIG_EARLY_PRINTK=y
CONFIG_SUN8I_DE2_CCU=y
CONFIG_DRM_SUN8I_DW_HDMI=y
CONFIG_DRM_LIMA=m
CONFIG_SND_SUN8I_CODEC_ANALOG=y
CONFIG_REGULATOR_SY8106A=y
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=y
CONFIG_DEVFREQ_GOV_PERFORMANCE=y
CONFIG_DEVFREQ_GOV_POWERSAVE=y
CONFIG_DEVFREQ_GOV_USERSPACE=y
CONFIG_DEVFREQ_GOV_PASSIVE=y
CONFIG_PM_DEVFREQ_EVENT=y
