#  KEEP ALPHABETICALLY SORTED
# CONFIG_DISTRO_DEFAULTS is not set
# CONFIG_USB_KEYBOARD is not set
# CONFIG_USB_STORAGE is not set
# CONFIG_VIDEO_DT_SIMPLEFB is not set
# CONFIG_VIDEO_SUNXI is not set
# CONFIG_VIDEO_DE2 is not set
CONFIG_BOOTCOMMAND="setenv scriptaddr 0x53000000 && load mmc ${mmc_bootdev}:2 ${scriptaddr} boot.scr && source ${scriptaddr}"
CONFIG_TFTP_BLOCKSIZE=1468
CONFIG_USB_MUSB_GADGET=y
CONFIG_USB_MUSB_PIO_ONLY=y
CONFIG_USB_ETHER=y
