CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_LL=y
CONFIG_DEBUG_SUNXI_UART0=y
CONFIG_EARLY_PRINTK=y
CONFIG_QFMT_V2=y
CONFIG_SDCARD_FS=y
CONFIG_EXT4_ENCRYPTION=y
CONFIG_SW_SYNC=y
CONFIG_FTRACE=y
CONFIG_SUN8I_DE2_CCU=y
CONFIG_DRM_SUN8I_DW_HDMI=y
CONFIG_DRM_VGEM=y
CONFIG_LSM="selinux,yama,loadpin,safesetid,integrity"
CONFIG_WIRELESS=y
CONFIG_CFG80211=y
CONFIG_CGROUP_BPF=y
CONFIG_BPF_SYSCALL=y
CONFIG_NETFILTER_XT_MATCH_BPF=y
CONFIG_INET_DIAG=y
CONFIG_INET_UDP_DIAG=y
