CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_LL=y
CONFIG_DEBUG_SUNXI_UART0=y
CONFIG_EARLY_PRINTK=y
CONFIG_SW_SYNC=y
CONFIG_SUN8I_DE2_CCU=y
CONFIG_DRM_SUN8I_DW_HDMI=y
CONFIG_DRM_VGEM=y
CONFIG_LSM="selinux,yama,loadpin,safesetid,integrity"
CONFIG_WIRELESS=y
CONFIG_CFG80211=y
CONFIG_INET_DIAG=y
CONFIG_CMA_SIZE_MBYTES=64
CONFIG_CPU_FREQ_STAT=y
CONFIG_PROC_UID=y
CONFIG_BLK_DEV_NBD=y
CONFIG_BLK_DEV_NBDROOT=y
CONFIG_RTC_INTF_SYSFS=y
CONFIG_DUMMY=y