# We need DRM built-in to show recovery/fastbootd UI which is on initrd
CONFIG_DRM=y
CONFIG_DRM_ROCKCHIP=y
CONFIG_USB_DWC3_GADGET=y
CONFIG_USB_DWC3_DUAL_ROLE=y

CONFIG_MEMTEST=y
CONFIG_PRINTK_TIME=y
# CONFIG_DUMMY_CONSOLE is not set
# CONFIG_FRAMEBUFFER_CONSOLE is not set
# CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY is not set
# CONFIG_FRAMEBUFFER_CONSOLE_ROTATION is not set
# CONFIG_DRM_FBDEV_EMULATION is not set
# CONFIG_LOGO is not set
# CONFIG_WERROR is not set

# CONFIG_USB_CDC_COMPOSITE is not set

CONFIG_DEBUG_INFO=y
