on early-boot
    mount debugfs debugfs /sys/kernel/debug
    chmod 755 /sys/kernel/debug
    chmod 755 /sys/kernel/debug/sync
    chown graphics graphics /sys/kernel/debug/sync/sw_sync
    chmod 777 /sys/kernel/debug/sync/sw_sync
    chown graphics graphics /sys/kernel/debug/sync/info

    setprop ro.hardware.gralloc gbm
    setprop ro.hardware.hwcomposer drm
    setprop hwc.drm.device /dev/dri/card0
    setprop gralloc.gbm.device /dev/dri/card0
    setprop hwc.drm.exclude_non_hwfb_imports 1
