modalias_handling enabled

/dev/pvr_sync                                          0666    system       graphics
/dev/sw_sync                                           0666    system       graphics
/dev/dri/controlD64                                    0660    system       graphics
/dev/composer                                          0660    system       graphics
/dev/graphics/fb0                                      0666    system       graphics
/dev/tee0                                              0660    system       keystore
/dev/teepriv0                                          0660    system       keystore
/dev/ttyUSB0                                           0666    system       system
/dev/ttyUSB1                                           0666    system       system
/dev/ttyUSB2                                           0666    system       system
/dev/ttyUSB3                                           0666    system       system
/dev/block/platform/soc/1c0f000.mmc/by-name/vendor     0600    system       system
/dev/block/platform/soc/1c0f000.mmc/by-name/userdata   0600    system       system
/dev/rfkill                                            0660    bluetooth    net_bt
/dev/ion                                               0664    system       system
/dev/iio:device0                                       0660    system       system
/dev/iio:device1                                       0660    system       system
/dev/iio:device2                                       0660    system       system
/dev/iio:device3                                       0660    system       system
/dev/video*                                            0660    system       camera
/dev/media*                                            0660    system       camera
/dev/v4l-subdev*                                       0660    system       camera

/dev/dma_heap/system                                   0666    system       graphics
/dev/dma_heap/linux,cma                                0666    system       graphics
