service vendor.radio-hal /vendor/bin/hw/android.hardware.mm-radio-service
    interface aidl android.hardware.radio.config.IRadioConfig
    interface aidl android.hardware.radio.data.IRadioData
    interface aidl android.hardware.radio.modem.IRadioModem
    interface aidl android.hardware.radio.network.IRadioNetwork
    interface aidl android.hardware.radio.sim.IRadioSim
    class main
    user radio
    group radio inet misc audio log readproc wakelock
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW
