service dbus-1.0 /vendor/bin/dbus-daemon --system --nofork
    user root
    group root

service modemmanager /vendor/bin/ModemManager --log-level=DEBUG
    user root
    group root

on boot
    mkdir /mnt/var 0755 system system
    mkdir /mnt/var/run 0755 system system
    mkdir /mnt/var/run/dbus 0755 system system
    start dbus-1.0
    wait /mnt/var/run/dbus/system_bus_socket
    start modemmanager
