CONFIG_DRM_SUN6I_DSI=y
CONFIG_DRM_PANEL_XINGBANGDA_XBD599=y
CONFIG_I2C_GPIO=y
CONFIG_INPUT_GPIO_VIBRA=y
CONFIG_INV_MPU6050_IIO=y
CONFIG_INV_MPU6050_I2C=y
CONFIG_IIO_ST_MAGN_3AXIS=y
CONFIG_IIO_ST_MAGN_I2C_3AXIS=y
CONFIG_KEYBOARD_SUN4I_LRADC=y
CONFIG_STK3310=y
CONFIG_TOUCHSCREEN_GOODIX=y
CONFIG_VIDEO_OV5640=y
CONFIG_VIDEO_SUN6I_CSI=y
