# Display
CONFIG_DRM_SUN6I_DSI=y
CONFIG_DRM_PANEL_SITRONIX_ST7703=y
CONFIG_TOUCHSCREEN_GOODIX=m

# Sensors
CONFIG_I2C_GPIO=y
CONFIG_INPUT_GPIO_VIBRA=y
CONFIG_INV_MPU6050_IIO=m
CONFIG_INV_MPU6050_I2C=m
CONFIG_IIO_ST_MAGN_3AXIS=m
CONFIG_IIO_ST_MAGN_I2C_3AXIS=m
CONFIG_LEDS_TRIGGER_TRANSIENT=y
CONFIG_STK3310=m

# Volume Buttons
CONFIG_KEYBOARD_SUN4I_LRADC=y

# Camera
CONFIG_VIDEO_OV5640=m
CONFIG_VIDEO_GC2145=m
CONFIG_VIDEO_SUN6I_CSI=m
CONFIG_LEDS_CLASS_FLASH=m
CONFIG_LEDS_SGM3140=m

# Wifi/Bluetooth
CONFIG_RTL8723CS_NEW=m
CONFIG_BT_HCIUART_RTL=y

# Audio
CONFIG_SND_SOC_BT_SCO=m
CONFIG_SND_SOC_EC25=m
CONFIG_SND_SIMPLE_CARD=m

# Modem
CONFIG_MODEM_POWER=y
CONFIG_USB_SERIAL=m
CONFIG_USB_SERIAL_SIMPLE=m
CONFIG_USB_SERIAL_QCAUX=m
CONFIG_USB_SERIAL_QUALCOMM=m
CONFIG_USB_SERIAL_OPTION=m

# USB typec
CONFIG_TYPEC=y
CONFIG_TYPEC_TCPM=m
CONFIG_TYPEC_TCPCI=m
CONFIG_TYPEC_UCSI=m
CONFIG_TYPEC_ANX7688=m
CONFIG_TYPEC_DP_ALTMODE=m
