# Enable USB gadget in recovery
CONFIG_USB_MUSB_HDRC=y
CONFIG_NOP_USB_XCEIV=y
CONFIG_USB_MUSB_SUNXI=y
CONFIG_MUSB_PIO_ONLY=y
CONFIG_TYPEC_ANX7688=y
CONFIG_USB_CONFIGFS=y

# Vibrator HAL relies on this setting
CONFIG_LEDS_TRIGGER_TRANSIENT=y

# Due to some i2c issue, light sensor blocks system from entering suspend mode.
# Disable it for now.
# CONFIG_STK3310 is not set

# Due to some kernel issues this option reduces eMMC write speed from 60 to 20MiB/s and causing DE2.0 to glitch sometimes.
# CONFIG_ARM_SUN8I_MBUS_DEVFREQ is not set
