#  Required by VTS
CONFIG_BLK_DEV_LOOP_MIN_COUNT=16
CONFIG_USB_RTL8152=m

#  Required by VTS: KernelHeadersTest#ModuleExist
CONFIG_IKHEADERS=y

#  Required by VTS: NetdNamespaceTest#CheckNoUserNamespaceSupport
# CONFIG_USER_NS is not set

CONFIG_LSM="selinux,yama,loadpin,safesetid,integrity"
CONFIG_CPU_FREQ_TIMES=y
CONFIG_INET_DIAG=y
CONFIG_CMA_SIZE_MBYTES=256
CONFIG_CPU_FREQ_STAT=y
CONFIG_PROC_UID=y
CONFIG_WIRELESS=y
CONFIG_CFG80211=y
CONFIG_DUMMY=y
CONFIG_CFG80211_WEXT=y
CONFIG_MAC80211=y
CONFIG_WLAN=y
CONFIG_BT=m
CONFIG_RFKILL=y
CONFIG_ION_SYSTEM_HEAP=y
CONFIG_RTC_INTF_SYSFS=y
CONFIG_SW_SYNC=y
