#  Required by VTS
CONFIG_BLK_DEV_LOOP_MIN_COUNT=16
CONFIG_USB_RTL8152=m
CONFIG_RANDOMIZE_BASE=y
CONFIG_HID=y
CONFIG_USB_HID=y

#  Required by VTS: KernelHeadersTest#ModuleExist
CONFIG_IKHEADERS=y

#  Required by VTS: NetdNamespaceTest#CheckNoUserNamespaceSupport
# CONFIG_USER_NS is not set

CONFIG_LSM="selinux,yama,loadpin,safesetid,integrity"
CONFIG_CPU_FREQ_TIMES=y
CONFIG_INET_DIAG=y
CONFIG_CMA_SIZE_MBYTES=256
CONFIG_CPU_FREQ_STAT=y
CONFIG_PROC_UID=y
CONFIG_WIRELESS=y
CONFIG_CFG80211=m
CONFIG_DUMMY=y
CONFIG_CFG80211_WEXT=y
CONFIG_MAC80211=y
CONFIG_WLAN=y
CONFIG_BT=m
CONFIG_RFKILL=y
CONFIG_ION_SYSTEM_HEAP=y
CONFIG_RTC_INTF_SYSFS=y
CONFIG_SW_SYNC=y

#  dm-default-key
CONFIG_BLK_INLINE_ENCRYPTION_FALLBACK=y

# Required to enable CONFIG_DMABUF_HEAPS_SYSTEM in Android kernels
CONFIG_DMABUF_HEAPS=y
CONFIG_DMABUF_SYSFS_STATS=y
CONFIG_DMABUF_HEAPS_DEFERRED_FREE=y
CONFIG_DMABUF_HEAPS_PAGE_POOL=y
CONFIG_DMABUF_HEAPS_SYSTEM=y

#  Requred by GenericBootImageTest#KernelReleaseFormat
CONFIG_LOCALVERSION="-android13-0-GloDroid"

# Set to y, otherwise a set of essential kernel configs will be force-disabled. (like CONFIG_TRACE_GPU_MEM)
CONFIG_GKI_HACKS_TO_FIX=y

# Increase kmsg log ring buffer from 128KiB to 1MiB
CONFIG_LOG_BUF_SHIFT=20

# for new scudo
CONFIG_ANON_VMA_NAME=y

#  Required by VTS: fs#ErofsSupported
CONFIG_EROFS_FS=y

#  Checked by KernelTest#TestRateLimitingSupport VTS
CONFIG_NET_CLS_MATCHALL=y
CONFIG_NET_ACT_POLICE=y
CONFIG_NET_ACT_BPF=y

#  ZRAM
CONFIG_SWAP=y
CONFIG_CGROUP_MEM_RES_CTLR=y
CONFIG_CGROUP_MEM_RES_CTLR_SWAP=y
CONFIG_ZSMALLOC=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_ZRAM=y

#  Now we have Generic Power HAL and can enable schedutil
CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL=y
