#  KEEP ALPHABETICALLY SORTED
CONFIG_ANDROID_BOOT_IMAGE=y
CONFIG_CMD_BCB=y
CONFIG_CMD_ABOOTIMG=y
CONFIG_CMD_ADTIMG=y
CONFIG_CMD_GPT=y
CONFIG_USB_GADGET=y
CONFIG_USB_FUNCTION_FASTBOOT=y
CONFIG_CMD_FASTBOOT=y
CONFIG_FASTBOOT_FLASH=y
CONFIG_FASTBOOT_CMD_OEM_FORMAT=y
CONFIG_CMD_PART=y
CONFIG_LZ4=y
CONFIG_RANDOM_UUID=y
CONFIG_ANDROID_AB=y
CONFIG_CMD_AB_SELECT=y

# Google fastboot VID and PID
CONFIG_USB_GADGET_VENDOR_NUM=0x18D1
CONFIG_USB_GADGET_PRODUCT_NUM=0x4EE0
