#  KEEP ALPHABETICALLY SORTED
CONFIG_ANDROID_BOOT_IMAGE=y
CONFIG_BOOTCOMMAND="setenv scriptaddr 0x53000000 && load mmc ${mmc_bootdev}:2 ${scriptaddr} boot.scr && source ${scriptaddr}"
CONFIG_CMD_BCB=y
CONFIG_CMD_ABOOTIMG=y
CONFIG_CMD_ADTIMG=y
CONFIG_UDP_FUNCTION_FASTBOOT=y
CONFIG_CMD_FASTBOOT=y
CONFIG_FASTBOOT_CMD_OEM_FORMAT=y
CONFIG_CMD_PART=y
CONFIG_LZ4=y
CONFIG_RANDOM_UUID=y
